include .gitattributes
include CITATION.cff CHANGELOG.md CONTRIBUTING.md
recursive-include docs *.md *.json *.jsonl *.txt *.npz *.png *.rst *.py *.css
recursive-include examples *.py *.R
recursive-include .github *.yml *.md
recursive-include scripts *.py
recursive-include tests *.py

recursive-include examples/data *.md *.tes *.names *.data *.csv *.txt
